.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: #EBD1BB;
}

.flex-item {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.ware2 {
  position: relative;
  z-index: 1;
}

.ware3 {
  position: absolute;
  top: 60px; 
  left: 20px;
  width: 120px;
  height: auto;
  opacity: 0;
  z-index: 2;
}

.flex-item:hover .ware3 {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.flex-item:active .ware3 {
  opacity: 1;
  animation: none; 
}

.ware4 {
  top: 75px; 
  left: 52px;
  width: 85px;    
  height: auto;   
  opacity: 0;
  z-index: 3;
  transform-origin: center bottom;
}

.flex-item:active .ware4 {
  opacity: 1;
  animation: сlap 2s infinite;
}

@keyframes сlap {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}

.shop-name {
  position: absolute;
  top: 4px;
  right: 0px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  opacity: 0;
}

.text {
  position: absolute;
  left: -55px;
  top: 100px;
  color: #D40000;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  z-index: 10;
  transform: rotate(-90deg);
}

.flex-item:hover .shop-name {
  opacity: 1;
}

.flex-item:active .shop-name {
  opacity: 0;
}

.flex-item:active .text {
  opacity: 1;
}

.flex-item:active {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
