.puzzle-area {
  position: relative;
  width: 550px;
  height: 350px;
  border: 4px solid orange;
  margin: 200px auto;
  background: #FFFFFF;
}

.shape {
  position: absolute;
  cursor: grab;
}

.green1 { 
  background: #21A443; 
  width: 150px; 
  height: 90px;
  clip-path: polygon(75px 0, 150px 90px, 0 90px);
  top: 220px; 
  left: 100px; 
  z-index: 30;
  transform: rotate(270deg);
}

.green2 { 
  background: #73EA6C; 
  width: 120px; 
  height: 70px;
  clip-path: polygon(60px 0, 120px 70px, 0 70px);
  top: 80px; 
  left: 390px; 
  z-index: 31;
  transform: rotate(90deg);
}

.green3 { 
  background: #D2FF8E; 
  width: 90px; 
  height: 60px;
  clip-path: polygon(45px 0, 90px 60px, 0 60px);
  top: 80px; 
  left: 300px; 
  z-index: 32;
  transform: rotate(90deg); 
}

.trunk {
  width: 30px; 
  height: 70px;
  background: #82271A;
  top: 200px; 
  left: 350px;
  z-index: 20;
  transform: rotate(90deg); 
}

.red-square {
  width: 100px; 
  height: 100px;
  background: #FF0000;
  top: 110px; 
  left: 80px;
  z-index: 10;
  transform: rotate(45deg);
}

.blue-square {
  width: 40px; 
  height: 40px;
  background: #43BBEA;
  top: 50px; 
  left: 480px;
  border-radius: 6px;
  z-index: 12;
}

.brown-triangle {
  width: 110px; 
  height: 70px;
  background: #B28864;
  clip-path: polygon(55px 0, 0 70px, 110px 70px);
  top: 170px; 
  left: 200px;
  z-index: 11;
  transform: rotate(225deg);
}
